RewriteEngine On

Options -Indexes

<FilesMatch "(?i)(^\.DS_Store$|^Thumbs\.db$|\.(sql|log|bat|ps1|md|json|lock|env|ini)$)">
    Require all denied
</FilesMatch>

RewriteRule ^(?:assetsM|dist|img|vendors|public_docs|public_img|videos)/.*\.(?:php[0-9]?|phtml|phar|cgi|pl|py|sh)$ - [R=404,L,NC]

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
